
.BoxHeader {
  background-color: #0f1626;
  margin: 0;
  padding: 0;
}

.BoxHeader_text{
  color: white;
  text-align: center;
  margin-bottom: 100px;
}

.BoxHeaderLogo{
  height: 120px;
  margin-top: 10px;
}
#options{
  margin-top: 20px;
  margin-bottom: 10px;
  column-count: 2;
}

#contMenu{
  margin-top: 30px;
  margin: 0px;
  padding: 0px;
  column-count: 2;
}
/* .Header{
  background-color: #282c34;
  }
  
  .HeaderNav{
    background-color: #282c34;
    color: white;
  } */